/* Breadcrumbs Variables
 * Bootstrap Mod by simon
 */
$breadcrumb-padding-vertical:   0px !default;
$breadcrumb-padding-horizontal: 15px !default;
// Breadcrumb colours
$breadcrumb-bg:           tranparent;
$breadcrumb-color:        #f7fb2e;  // Breadcrumb symbol
$breadcrumb-separator:    "»";
$breadcrumb-active-color: #ffe27c;  // Breadcrumb current page


SECTION#breadcrumbs {
  @include section-shadow(0, 5px, 10px,#000011  );
  position: fixed; top: 50px; left: 0;
  margin: 0;
  width: 100%; height: 20px;
  background-image: url($dark-bg-tran);
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  z-index: 998;

  a      { color: #adff2f;  }

  a:hover{ color: orangered;  }
}


ARTICLE#breadcrumbs {
  width: $frame-width;
  padding-left: 200px;
}

