NAV {
  background: url($nav-bg) repeat-x !important;
  font-family: "Georgia", Times, serif;
  margin: 0 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;  height: 50px;
  z-index: 999;
  @include section-shadow(5px, 5px, 30px, #979296);

//  a {color: greenyellow}

  input.search{
    background-color:rgba(0,0,0,0) !important;
    height: 28px;


  }

  button.btn-search{
    background-color:rgba(0,0,0,0) !important;
    height: 28px;
    color: #00ac4d;
  }

  // change Search icon colour on hover
  button.btn-default:hover  { color: #f6ff37;  }
}


.nav .navbar-nav .navbar-right .dropdown {
  background: transparent;
}

// Navbar Link hover colour
.navbar-nav li a:hover , .navbar-nav li a:focus ,.navbar-nav li a:active{
  @include section-shadow(0, 15px, 20px, #757575);
  background-color: #262526 !important;
  opacity:0.8;
  color: orangered;
  border: 0;
}

.nav-current {
  @include section-shadow(2px, 2px, 5px, #1c1b1c);
  background-color: #000001;
  display: block;
  border: 0; height: 50px;
  padding: 15px;
  color: #f4f4f4;
  opacity: 0.5;
}

.icon-bar {
  background-color: #0000FF; // Bootstrap Mod by simon
}

// Menu Link colours
.navbar-nav {
  > li > a {
    color: #adff2f; // Bootstrap Mod by simon
  }
}

// Menu position and menu carets
.navbar-nav > li > .dropdown-menu {
  background-color: #000000; // Bootstrap Mod by simon
  opacity:0.8;
}

